h1{
    text-align: center;
    background-color: lightgray;
    margin:0;
}
app-main{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    background-color: lightgray;
    text-align: center;
}